html {
  box-sizing: border-box;
}

*, *::before, *::after {
  margin: 0;
  box-sizing: inherit;
}

body {
  background-color: skyblue;
}

.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container > * {
  flex: 1;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.main-container {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.hide-icon {
  display: none;
}

.key-value-parent {
  display: flex;
  justify-content: center;
  gap: 3rem;
}

.keys-values {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}

form {
  display: flex;
  justify-content: center;
}
