html {
  box-sizing: border-box;
}

*, *::before, *::after {
  margin: 0;
  box-sizing: inherit;
}

body {
  background-color: skyblue;
}

.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  flex: 1;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
}

.main-container {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  flex: 2;
}

.hide-icon {
  display: none;
}

.key-value-parent {
  display: flex;
  justify-content: center;
  gap: 3rem;
}

.keys-values {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}

.fade-in-weather {
  opacity: 0;
  animation: fadeInAnimation 0.5s ease-in-out forwards;
}

@keyframes fadeInAnimation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
